@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
* {
  font-size: 12px;
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
  margin: 0 auto;
  background: #2C2C2C;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background: #2C2C2C;
  --facebook: #3b5998;
  --youtube: #e52d27;
  --twitter: #1D9BF0;
  --rad: 0.7rem;
  --dur: 0.3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-brand: #57bd84;
  --font-fam: "Lato", sans-serif;
  --height: 3rem;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

/* Bio Container */
.bio-container {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}



/* Ticket Button */
.ticket-button {
  padding: 0.75rem 1rem;
  transition: background-color 0.3s ease;
}

.ig-button:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%,
      #fdf497 5%, #fd5949 45%,
      #d6249f 60%, #285AEB 90%);
}

.tik-tok-button:hover {
  background: linear-gradient(45deg, #69C9D0, #EE1D52, #010101);
}

.fb-button:hover {
  background: var(--facebook);
}

.youtube-button:hover {
  background: var(--youtube);
}

.twitter-button:hover {
  background: var(--twitter);
}


.social-media-button {

  border-radius: 50%;

  transition: all 0.3s;
  display: grid;
  place-items: center;

}

.social-media-button:hover {
  outline-offset: 3px;
  transition: all 0.3s;
}

.social-media-button img {
  transition: all 0.3s;
}

.social-media-button:hover img {
  transform: scale(1.15);
}

@import url(https://fonts.googleapis.com/css?family=Raleway);

.menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.menu>li {
  margin: 0 1rem;
  overflow: hidden;
  font-size: 2rem;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 0;
    margin-top: 10vh;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  #menu-toggle~.menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked~.menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu>li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }

  .menu>li:not(:last-child) {
    border-bottom: 1px solid #444;
  }


}

@media only screen and (max-width: 1100px) {
  .bio-container {
    grid-template-columns: 1fr;
  }

  .bio {
    margin-right: 0;
  }
}

@media only screen and (max-width: 530px) {
  .socials-container {
    flex-direction: row;
    width: 400px;
  }

  .ig-button {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%,
        #fdf497 5%, #fd5949 45%,
        #d6249f 60%, #285AEB 90%);
  }

  .fb-button {
    background: var(--facebook);
  }

  .tik-tok-button {
    background: linear-gradient(45deg, #69C9D0, #EE1D52, #010101);
  }


  .youtube-button {
    background: var(--youtube);
  }

  .twitter-button {
    background: var(--twitter);
  }

}



@media only screen and (min-width: 530px) {
  .img-container {
    flex-direction: row;
  }

  .bio {
    margin-right: 5%;
  }

  .show-container {
    margin: 0 10%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 32, 32, 32;
  }
}



#search-bar>input {
  height: var(--height);
  font-family: var(--font-fam);
  border: 0;
  color: var(--color-dark);
  font-size: 1.4rem;
}

input[type="search"],
.search-results {
  outline: 0;
  width: 100%;
  background: var(--color-light);
  padding: 0 1.6rem;
  appearance: none;
  transition: all var(--dur) var(--bez);
  z-index: 1;
  position: relative;
}

#search-results {
  border-top-left-radius: var(--rad);
  border-top-right-radius: var(--rad);
}

#no-search-results {
  border-radius: var(--rad);
}

.search-results {
  border-bottom-left-radius: var(--rad);
  border-bottom-right-radius: var(--rad);
  position: absolute;
  padding: 10px;
}

.search-result {
  padding: 5px;
}

.form-container {
  width: 40vw
}

@media (max-width: 767px) {
  .form-container {
    width: 80vw
  }
}